@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
:root {
  --main-color: #0088be;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
a {
  text-decoration: 0;
}
html {
  font-size: 65%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: var(--white);
}
html::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

body{
  background-color: var(--white);
}

section {
  padding: 2rem 9%;
}
.heading{
  font-size: 4rem;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 3rem;
}

.btn {
  display: inline-block;
  background: var(--main-color);
  margin-top: 1rem;
  color: var(--white);
  font-size: 1.7rem;
  padding: 1rem 3rem;
  cursor: pointer;
  font-size: 1.7rem;
}
.btn:hover {
  background: var(--black);
  color: var(--main-color);
}
.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 6rem;
  text-transform: uppercase;
  color: var(--black);
}

 .heading{
    font-size: 3rem;
    
    color: var(--white);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
    margin-bottom: 3rem;
    background: url(./random.jpg)no-repeat ;
    background-size: cover;
    background-position: center;
    padding: 18rem;
   }
 
.header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--black);
  text-transform: uppercase;
}
.header .logo span {
  color: var(--main-color);
}

.header .navbar {
  z-index: 1000;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--black);
}
.header .navbar a:hover {
  color: var(--main-color);
}
#menu-btn {
  font-size: 2.5rem;
  cursor: pointer;
  color: var(--black);
  display: none;
}
  .booking .book_form{
    padding:2rem;
    background: var(--light-bg);
  }
  .booking .book_form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  .booking .book_form .flex .inputBox{
    flex: 1 1 41rem;
  }

  .booking .book_form .flex .inputBox input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--light-black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
  }
  .booking .book_form .flex .inputBox input:focus{
    background: var(--black);
    color: var(--white);
  }
  .booking .book_form .flex .inputBox input:focus::placeholder{
    color: var(--light-white);
  }
  .booking .book_form .flex .inputBox span{
    font-size: 2rem;
    color: var(--black);
  }
  .booking .book_form .flex .inputBox .input{
    width: 100%;
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    margin-top: 1.5rem;
    border: var(--border);
  }
  .booking .book_form .btn{
    margin-top: 2rem;
  }


















  .footer {
    background: url(footer-bg.jpg) no-repeat;
    background-size: cover;
    background-position: center;
  }
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid: 3rem;
  }
  .footer .box-container .box h3 {
    color: var(--white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
  }
  .footer .box-container .box a {
    color: var(--light-white);
    font-size: 1.5rem;
    padding-bottom: 1rem;
    display: block;
  }
  .footer .box-container .box a i {
    color: var(--main-color);
    padding-right: 0.5rem;
    transition: 0.2s linear;
  }
  .footer .box-container .box a:hover i {
    padding-right: 2rem;
  }
  .footer .credit {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    padding-top: 1rem;
    margin-top: 5rem;
    border-top: 0.1.5rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
  }
  .footer .credit span {
    color: var(--main-color);
  }
  
  
   































  @media (max-width: 1200px) {
    section {
      padding: 3rem 5%;
    }
  }
  @media (max-width: 991px) {
    html {
      font-size: 55%;
    }
    section {
      padding: 3rem 2rem;
    }
  }
  
  @media (max-width: 768px) {
    #menu-btn {
      display: inline-block;
      transition: 0.3s linear;
    }
    #menu-btn.fa-times {
      transform: rotate(180deg);
    }
  
    .header .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: var(--white);
      padding: 2rem;
      border-top: var(--border);
      transition: 0.2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    .header .navbar.active {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
  
    .header .navbar a {
      display: block;
      text-align: center;
      margin: 2rem;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 50%;
    }
    .heading-title {
      font-size: 3.5rem;
    }
  }
  